@page
@model AcciTransito.App.Frontend.Pages.EditarAccidenteModel
@{
}

<style>


    .round1{
        background-color: #90c390;
     @*    margin:0 auto;
        margin-top:3%;
        padding:0;
        @* text-align:center; *@
        border: 3px solid #90c390;
        border-radius: 12px;
        padding: 5px;
    }
</style>

<h4>Editar Accidente - Id: @Model.accidentes.id</h4>
<form method="post">
    <input type="hidden" asp-for="accidentes.id"/>

      <div class="row" >
      <div class="col-sm-8 round1">

            <div class="d-grid gap-1 col-3 mx-auto text-center">
                 <label asp-for="accidentes.NumeroAccidente">Número de Accidente:</label>
                 <input asp-for="accidentes.NumeroAccidente" class="form-accidentes"  />
                  <span class="text-danger" asp-validation-for="accidentes.NumeroAccidente"></span>
            </div>    <br>

            <div class=" col-md-9">
                <div class="h-divider"></div>   <br>

            <div class="d-grid gap-4 col-6  ">
                <label for="licencia" >DATOS DEL SINIESTRO:</label>
            </div><br>




            <div class="col-xs-12 wow animated slideInLeft" data-wow-delay=".5s">

                <label asp-for="accidentes.Fecha">Fecha del Siniestro:</label>
                <input asp-for="accidentes.Fecha" class="form-siniestro"  />
                <span class="text-danger" asp-validation-for="accidentes.Fecha"></span>


                 <label asp-for="accidentes.TipoAccidente">Tipo de Accidente:</label>

                    <select asp-for="accidentes.TipoAccidente" class="form-tipoaccidente">
			            <option value="0">Atropellamiento</option>
                        <option value="1">Caida de Pasajero</option>
                        <option value="2">Choque Vehicular</option>
                        <option value="3">Volcamiento</option>
                        <option value="4">Solo daños</option>
                    </select>
                    <span class="text-danger" asp-validation-for="accidentes.TipoAccidente"></span><br>




                 <label asp-for="accidentes.Peritaje">Peritaje:</label>
                <input asp-for="accidentes.Peritaje" class="form-peritaje"  /><br>
                <span class="text-danger" asp-validation-for="accidentes.Peritaje"></span>


                 <label asp-for="accidentes.Direccion">Direccion del Siniestro:</label>
                <input asp-for="accidentes.Direccion" class="form-direccion"  /><br>
                <span class="text-danger" asp-validation-for="accidentes.Direccion"></span>

	</br>

 </div>
  </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end relative fullwidth col-xs-12">
      <button type="submit" class="btn btn-success"> <i class="fas fa-save"></i></button>

      <a asp-page="./ListaAccidentes" class="btn-default">Lista de Accidentes</a>
      </div>
  </form>


