@page
@model AcciTransito.App.Frontend.Pages.ListModel5
@{
}
<body>
<h4>Accidentes</h4>
<table class="table table-bordered">
    <caption>Información de Accidentes</caption>

 <th scope="col" > Número de Accidente</td>
 <th scope="col" > Tipo de Accidente</td>


    @foreach (var acci in Model.accidentes)
    {

        <tr>

            <td> @acci.NumeroAccidente</td>
            <td> @acci.TipoAccidente</td>
            <td> <a class="btn btn-success table-btn" asp-page="/AccidentesTransito/DetalleAccidente" asp-route-id="@acci.id">
                <i class="fas fa-list-alt"></i></a></td>

                <td> <a class="btn btn-success table-btn" asp-page="/AccidentesTransito/EditarAccidente" asp-route-id="@acci.id">
                <i class="fas fa-car-crash fa-lg" aria-hidden="true"></i></a></td>
       </tr>


   }
<td><a asp-page="/AccidentesTransito/EditarAccidente" class="btn btn-success"><i class="fas fa-folder-plus">- Crear Accidente</i></a></td>
</table>



</body>
