@page
@model AcciTransito.App.Frontend.Pages.ListModel
@{
}
<body>
<h2>ListadeAccidentes</h2>
<table class="table table-bordered">

    @foreach (var acci in Model.accidentes)
    {

        <tr>

            <td> @acci.NumeroAccidente</td>
            <td> @acci.TipoAccidente</td>
            <td> <a class="btn btn-primary table-btn" asp-page="/AccidentesTransito/DetalleAccidente" asp-route-id="@acci.id">
                <i class="fas fa-info-circle"></i>Detalle Accidente</a></td>

                <td> <a class="btn btn-primary table-btn" asp-page="/AccidentesTransito/EditarAccidente" asp-route-id="@acci.id">
                <i class="fas fa-info-circle"></i>Editar Accidente</a></td>
       </tr>


   }

</table>

<a asp-page="/AccidentesTransito/EditarAccidente" class="btn btn-primary">Crear Accidente</a>

</body>
